* {
    margin: 0;
    box-sizing: border-box;
}

#root{
    background-color: rgb(230, 224, 215);
}

/* -----Home.jsx------*/
.products{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

/* -----CartTab.jsx------*/
.cart-tab{
    color: white;
    font-size: 25px;
    background-color: gray;
    min-height: max-content;
    min-width: 13em; /* 250px/16 */
}

