/*---------App---------*/
*{
    margin: 0;
    padding: 0;
    -webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none; 
    scrollbar-width: none;
    
}
a {
    color: inherit; 
    text-decoration: none; 
}
ul{
    list-style: none;
}
#root{
    
    width: 100vw;
    background-color: rgb(255, 255, 240);
}
body {
    background: linear-gradient(to bottom, rgb(255, 255, 240), rgb(255, 255, 240)) fixed;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    overflow-y: scroll;
}
.none{
    display:none;
}

.test1{
    background-color: rgb(250,128,114);

}
.test2{
    background: linear-gradient(to right, rgb(255,87,34), rgb(255,193,7))
}
.test3{
    background-color: rgb(255, 255, 240);
}
.card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;

}
.zoom-effect:hover{
    cursor: pointer;
    box-shadow: 0.625em 0.625em 2em #888888;
    transform: scale(1.1);
    
}
.product-page{
    background-color: white;
    height: 100%;
    font-size: 18px;
}
.product-header{
    display: flex;
    align-items: center;
    column-gap: 5px;

    font-size: 18px;
}
.product-details {
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    
        
}
.product-main-details{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    
}
.product-page-intro{
    width: 60%;
}
.product-main-details h2{
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 60%;
    margin-bottom: 5px;

}
.product-delivery-details{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: flex-start;
    
}

.product-details img{
    align-self: center;
    width: 50%;
    max-width: 500px;
   
}
.product-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.go-back-shopping-btn,
.add-to-cart-btn {
    width: 20vw; 
    height: 50px; 
    font-weight: bold;
    border-radius: 0.625em;
    border: none;
    color: white;
    background-color: rgb(112, 128, 144);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  (max-width: 600px) {
    .product-details {
    padding: 20px 50px;
    font-size: 17px;
    margin: 50px;
    display: flex;
    row-gap: 15px;
}

.product-details img{
    width: 250px;
    height: 200px;
}

}





